@import "tailwindcss";

@theme {
  --color-background: #0e0e13;
  --color-foreground: #f8f5fd;
  
  --color-primary: #a1ffc2;
  --color-primary-container: #00fc9a;
  --color-primary-dim: #00ec90;
  
  --color-secondary: #d575ff;
  --color-secondary-container: #9800d0;
  
  --color-tertiary: #ff6e81;
  
  --color-surface-dim: #0e0e13;
  --color-surface-container-low: #131318;
  --color-surface-container: #19191f;
  --color-surface-container-high: #1f1f26;
  --color-surface-bright: #2c2b33;
  
  --color-outline: #76747b;
  --color-outline-variant: #48474d;
  
  --color-error: #ff716c;
  --color-error-container: #9f0519;

  --font-display: var(--font-space-grotesk), sans-serif;
  --font-sans: var(--font-manrope), sans-serif;
  --font-label: var(--font-plus-jakarta-sans), sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
  
  /* Utilities for glassmorphism */
  .glass {
    background-color: rgba(37, 37, 44, 0.6); /* surface-variant slightly transparent */
    backdrop-filter: blur(12px);
  }

  .experience-rich-text ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    color: var(--color-outline);
  }
  
  .experience-rich-text li {
    margin-bottom: 0.5rem;
  }

  .experience-rich-text li::marker {
    color: var(--color-primary);
  }
}
